html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#my-container {
  /* background-color: beige; */
  width: 800px;
  height: 500px;

  position: absolute;
  left: 100px;
  top: 100px;
  /* display: block; */
  /* visibility: hidden; */
}